body 
{
    margin:0px; /* The whole page body area has a default margin of 10px, so you have to over-ride this */
}

#divPlaceHolderA 
{
    width:800px; 
    height:200px;
    background-color:#EEEEEE; /* A colour, so that the div can be seen */
    padding:7px; /* Small inset, should match margin between tabs */
}

#divPlaceHolderB 
{
    width:800px; 
    /* height:200px; */ /* No Height Setting */
    background-color:#EEEEEE; /* A colour, so that the div can be seen */
    padding:7px; /* Small inset, should match margin between tabs */
}

#divPlaceHolderC
{
    width:600px; 
    height:200px; 
    background-color:#EEEEEE; /* A colour, so that the div can be seen */
    padding:7px; /* Small inset, should match margin between tabs */
}




/**************************/
/* TAB STYLES FOR TESTING */

/* The container sits within the placeholder and provides the scrollbars */
.dynatabContainerTest
{
    height:100%;
    width:100%;
    overflow:auto;
}

/* The colour for the tabs and background page should be the same, so set in one place */
.dynatabTabTest,
.dynatabContentTest
{
   background-color:#AFAFD5; 
}

/* The style for the tabs themselves.*/
.dynatabTabTest
{
    padding-top:3px;
    padding-bottom:3px;
    padding-right:10px;
    padding-left:10px;
    margin-right:5px; /* Small gap between tabs, optional */
}

/* Styles for Close buttons on tabs */
.dynatabTabTest > input[type=button]
{
    font-size:smaller;
}

/* Style for the page that each tab shows */
.dynatabContentTest
{
    padding:11px;
}


/* END TAB STYLES FOR TESTING */
/******************************/


/********************************/
/* Test data to display on tabs */

.divRandom 
{
    padding:37px;
}

#divContentA1 
{
    color:Blue;
    background-color:Red;
    width:100px;
    height:200px;
    padding:37px;
}

#divContentA2
{
    color:Black;
    background-color:Yellow;
    width:200px;
    height:30px;
    padding:37px;
}

#divContentA3
{
    color:Black;
    background-color:Green;
    width:200px;
    height:200px;
    padding:37px;
}

#divContentA4
{
    color:White;
    background-color:Blue;
    width:1000px;
    height:400px;
    padding:37px;
}

/*                              */
/********************************/
